@media screen and (max-width: 960px){
   

    .promo{
        &__wrapper{
            padding-right: 10px;
        }
    }

    .feed-form{
        padding-left: 10px;
    }

    

    .consultation{
        &__descr{
            padding-left: 10px;
        }
        .title_left{
            padding-left: 10px;
            font-size: 30px;
        }
    }
}

@media screen and (max-width:678px){
   

    .promo{
        &__wrapper{
            align-items: center;
        }

        &__header{
            font-size: 35px;
        }
        &__subheader{
            font-size: 22px;
        }

    }

    .priv{
        &__icons{
            display: block;
            position: relative;
        }

        &__icon{
            
            display: flex;
            flex-wrap: wrap;
            
            p{
                padding-left: 125px;
                text-align: left;
            }
            img{
                float: left;
                position: absolute;
                margin-top: 54px;
            }

        }

        &__subheader{
            display: block;
            margin: 0 auto;
        }
    }

    .consultation{

        .title_left{
        
            font-size: 25px;
        }
    }    
}

@media screen and (max-width:526px){
    

    .priv{
        &__subheader{
            margin: 0;
            padding-left: 125px;
        }
    }

    .consultation{

        &__descr{
            font-size: 17px;
            
            padding-top: 29px;
        }    

        .title_left{
        
            font-size: 20px;
        }

       
    }    
}    

@media screen and (max-width:480px){
    

    .promo{
        &__header{
            font-size: 30px;
        }

        &__subheader{
            font-size: 19px;
        }
    }
}


@media screen and (max-width:422px){

    .promo{
        &__icons{
            width: 360px;
        }
        &__header{
            font-size: 25px;
        }
        &__subheader{
            font-size: 15px;
            margin-top: 10px;
        }
        &__wrapper{
            margin-top: 45px;
        }

    }

    .priv{
        &__header{
            font-size: 25px;
            padding-left: 0;
            text-align: center;
        }
        &__subheader {
            margin: 0 auto;
            padding-left: 0;
        }    
        &__icons{
            padding-top: 10px;
            display: block;
            padding: 0;
        }
        p{
            padding-left: 0;
            text-align: center;
        }
        img{
            display: none;
        }
    }

    .consultation{

        &__descr{
            font-size: 15px;
            
            padding-top: 20px;
        }    

        .title_left{
        
            font-size: 15px;
        }

       
    }    
}    

@media screen and (max-width:388px){
    
    .promo{

        &__header{
            font-size: 20px;
        }

        &__subheader{
            font-size: 12px;
        }
        &__icons{
            display: inline-block;
            text-align: center;
            width: 318px;
        }
        &__icon{
            display: flex;
            justify-content: center;
            width: 85%;
            align-items: end;
            margin-top: 15px;
            p{
                margin-top: 2px;
                text-align: left;
            }
            img{
                padding-right: 107px;
                margin-left: 29px;
            }
        }
    }
}