.carousel{
    padding: 81px 0;
    background: #fff;
    &__slider{
        width: 750px;
        margin: 0 auto;
        position: relative;
    }

    .prev, .next{
        position: absolute;
        border: none;
        background-color: #fff;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        
        img{
            width: 30px;
            height: 50px;
            
        }
    
    }

    .next{
        
        right: -66px;
        left: auto;
    }

    .tns-item{
        img{
            display: block;
            margin: 0 auto;
        }
    }
}


@media  screen and (max-width:1080px){
    .carousel{
        .prev{
            left: 0;
        }

        .next{
            right: 0;
        }
    }
}

@media  screen and (max-width:900px){
    .carousel{

        .tns-item{ 
            img {
                
                width: 75%;
        }
        }

        .prev{
            display: none;
        }

        .next{
            display: none;
        }
    }
}