.carousel{
    padding: 81px 0;
    background: #fff;
    &__slider{
        width: 750px;
        margin: 0 auto;
        position: relative;
    }

    .slick-prev, .slick-next{
        position: absolute;
        border: none;
        background-color: #fff;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        
        img{
            width: 30px;
            height: 50px;
            
        }
    
    }

    .slick-next{
        
        right: -66px;
        left: auto;
    }
}


@media  screen and (max-width:1080px){
    .carousel{
        .prev{
            left: 0;
        }

        .next{
            right: 0;
        }
    }
}

@media  screen and (max-width:900px){
    .carousel{

        &__slider{ 
            img {
                
                width: 75%;
                margin: 0 auto;
        }
        }

       
    }
}

@media  screen and (max-width:780px){
    .carousel{

        &__slider{ 
            width: 681px;
        }
    }
}            

@media  screen and (max-width:680px){
    .carousel{

        &__slider{ 
            width: 444px;
        }
    }
} 

@media screen and (max-width: 446px){
    .carousel{

        &__slider{ 
            width: 420px;
        }
    }
} 

@media screen and (max-width: 420px){
    .carousel{

        &__slider{ 
            width: 399px;
        }
    }
} 

@media screen and (max-width: 400px){
    .carousel{

        &__slider{ 
            width: 350px;
        }
    }
} 