.priv{

    padding: 70px 0 78px 0;
    background: #f6f6f6;
    min-height: 470px;
    margin: 0 center;
    
    &__icons{
        padding-top: 65px;
        display: flex;
        justify-content: space-between;
    }

    &__icon{
        color: #0d0d0d;

        font-size: 14px;
        font-weight: 300;
        text-align: center;
        margin: 0 47px 0 47px;
        img{
            height: 70px;
            width: 70px;
        }
    }

  
    &__subheader{
        
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        padding-top: 38px;
        padding-bottom: 26px;
    }
    
    a{
        color: $main_color;
        text-decoration: underline;
    }
}


@media screen and (max-width:678px){
   


    .priv{
        &__icons{
            display: block;
            position: relative;
        }

        &__icon{
            
            display: flex;
            flex-wrap: wrap;
            
            p{
                padding-left: 125px;
                text-align: left;
            }
            img{
                float: left;
                position: absolute;
                margin-top: 54px;
            }

        }

        &__subheader{
            display: block;
            margin: 0 auto;
        }
    }
}

@media screen and (max-width:526px){
    

    .priv{
        &__subheader{
            margin: 0;
            padding-left: 125px;
        }
    }
}

@media screen and (max-width:422px){



    .priv{
        &__header{
            font-size: 25px;
            padding-left: 0;
            text-align: center;
        }
        &__subheader {
            margin: 0 auto;
            padding-left: 0;
        }    
        &__icons{
            padding-top: 10px;
            display: block;
            padding: 0;
        }
        p{
            padding-left: 0;
            text-align: center;
        }
        img{
            display: none;
        }
    }
}
