.title{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    &_left{
        text-align: left;
        color: #ffffff;
        text-align: left;
        font-size: 36px;
    }
    &_test{
        color: #0d0d0d;
        text-align: left;
        font-size: 18px;
        font-weight: 700;
        text-transform: capitalize;
    }
}

@media screen and (max-width:500px){
    .title{
        &_test{
            display: block;
            
            text-align: center;
        }
    }

}

@media screen and (max-width:385px){
    .title{
        font-size: 25px;
    }
}    